<!-- Interpolación -->
<h1 *ngIf="title; else elseValue" class="text-center mt-5">{{ title }}</h1>

<ng-template #elseValue>
  <h1 class="text-center mt-5">Adiós Mundo</h1>
</ng-template>

<!-- Event binding -->
<button class="btn btn-primary btn-sm" (click)="changeMessage()">Nuevo Mensaje</button>

<input type="text" [(ngModel)]="title">

<ul class="list-group col-4 mx-auto">
  <li class="list-group-item" [id]="'todo-' + i" *ngFor="let todo of todos; let i = index">
    {{ i }} - {{ todo.title }}
  </li>
</ul>
